@import '../../styles/global/variables';

.sidebar {
	background-color: $header-bg !important;
	height: 100%;
	display: flex;
	flex-direction: column;

	.logoContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;
		height: 64px;
		border-bottom: 1px solid $divider-color;

		.logoImage {
			height: 40px;
			object-fit: contain;
		}

		.collapseTrigger {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 18px;
			color: $text-dark;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.menu {
		flex-grow: 1;

		.ant-menu-item {
			color: $text-dark;

			&:hover {
				color: $primary-color;
			}

			&.ant-menu-item-selected {
				background-color: $hoverColor !important;
				color: $primary-color !important;
			}
		}
	}
}
